data/hacienda/facturasemitidas/facturasemitidas/Service References/FacEmi/ConsultaLR.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:siiLRC="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" xmlns:sii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" elementFormDefault="qualified" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/ConsultaLR.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SuministroInformacion.xsd" namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" />
  <complexType name="LRFiltroEmitidasType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaExpedidaBCType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroRecibidasType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaRecibidaNombreBCType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroBienInversionType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaComunitariaType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroDetOperIntracomunitariasType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="ClavePaginacion" type="sii:IDFacturaComunitariaType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroOperacionesSegurosType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="ClavePaginacion">
            <complexType>
              <sequence>
                <element name="Contraparte" type="sii:PersonaFisicaJuridicaType" />
                <element name="ClaveOperacion" type="sii:ClaveOperacionType" />
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroCobrosMetalicoType">
    <complexContent mixed="false">
      <extension base="sii:RegistroSii">
        <sequence>
          <element minOccurs="0" name="ClavePaginacion">
            <complexType>
              <sequence>
                <element name="Contraparte" type="sii:PersonaFisicaJuridicaType" />
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRFiltroCobrosType">
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaExpedidaBCType" />
      <element minOccurs="0" name="ClavePaginacion" type="double" />
    </sequence>
  </complexType>
  <complexType name="LRFiltroPagosType">
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaRecibidaNombreBCType" />
      <element minOccurs="0" name="ClavePaginacion" type="double" />
    </sequence>
  </complexType>
  <complexType name="LRConsultaRecibidasType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroRecibidasType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaEmitidasType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroEmitidasType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaBienesInversionType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroBienInversionType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaDetOperIntracomunitariasType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroDetOperIntracomunitariasType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaCobrosMetalicoType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroCobrosMetalicoType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LRConsultaLROperacionesSegurosType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsulta" type="siiLRC:LRFiltroOperacionesSegurosType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaCobrosType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsultaCobros" type="siiLRC:LRFiltroCobrosType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsultaPagosType">
    <complexContent mixed="false">
      <extension base="sii:ConsultaInformacion">
        <sequence>
          <element name="FiltroConsultaPagos" type="siiLRC:LRFiltroPagosType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="ConsultaLRFacturasRecibidas" type="siiLRC:LRConsultaRecibidasType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Recibidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRFacturasEmitidas" type="siiLRC:LRConsultaEmitidasType">
    <annotation>
      <documentation>Servicio de consulta de Facturas Emitidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRBienesInversion" type="siiLRC:LRConsultaBienesInversionType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de bienes de inversi??n</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRDetOperIntracomunitarias" type="siiLRC:LRConsultaDetOperIntracomunitariasType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de Determinadas Operaciones Intracomunitarias</documentation>
    </annotation>
  </element>
  <element name="ConsultaLRCobrosMetalico" type="siiLRC:LRConsultaCobrosMetalicoType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de Cobros en Met??lico</documentation>
    </annotation>
  </element>
  <element name="ConsultaCobros" type="siiLRC:ConsultaCobrosType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de facturas expedidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaPagos" type="siiLRC:ConsultaPagosType">
    <annotation>
      <documentation>Servicio de consulta en el libro de registro de facturas recibidas</documentation>
    </annotation>
  </element>
  <element name="ConsultaLROperacionesSeguros" type="siiLRC:LRConsultaLROperacionesSegurosType">
    <annotation>
      <documentation>Servicio de consulta de operaciones de seguros</documentation>
    </annotation>
  </element>
</schema>