data/hacienda/facturasemitidas/facturasemitidas/Service References/FacEmi/RespuestaSuministro.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sii="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" xmlns:siiLR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroLR.xsd" xmlns:siiR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaSuministro.xsd" elementFormDefault="qualified" targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/RespuestaSuministro.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="SuministroInformacion.xsd" namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroInformacion.xsd" />
  <import schemaLocation="SuministroLR.xsd" namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/ssii/fact/ws/SuministroLR.xsd" />
  <element name="RespuestaLRFacturasEmitidas" type="siiR:RespuestaLRFEmitidasType" />
  <element name="RespuestaLRBajaFacturasEmitidas" type="siiR:RespuestaLRBajaFEmitidasType" />
  <element name="RespuestaLRFacturasRecibidas" type="siiR:RespuestaLRFRecibidasType" />
  <element name="RespuestaLRBajaFacturasRecibidas" type="siiR:RespuestaLRBajaFRecibidasType" />
  <element name="RespuestaLRBienesInversion" type="siiR:RespuestaLRBienesInversionType" />
  <element name="RespuestaLRBajaBienesInversion" type="siiR:RespuestaLRBajaBienesInversionType" />
  <element name="RespuestaLRDetOperacionesIntracomunitarias" type="siiR:RespuestaLROComunitariasType" />
  <element name="RespuestaLRBajaDetOperacionesIntracomunitarias" type="siiR:RespuestaLRBajaOComunitariasType" />
  <element name="RespuestaLRCobrosMetalico" type="siiR:RespuestaLRIMetalicoType" />
  <element name="RespuestaLROperacionesSeguros" type="siiR:RespuestaLROperacionesSegurosType" />
  <element name="RespuestaLRBajaCobrosMetalico" type="siiR:RespuestaLRBajaIMetalicoType" />
  <element name="RespuestaLRBajaOperacionesSeguros" type="siiR:RespuestaLRBajaOperacionesSegurosType" />
  <element name="RespuestaLRCobrosEmitidas" type="siiR:RespuestaLRCobrosEmitidasType" />
  <element name="RespuestaLRPagosRecibidas" type="siiR:RespuestaLRPagosRecibidasType" />
  <complexType name="RespuestaComunAltaType">
    <sequence>
      <element minOccurs="0" name="CSV" type="string">
        <annotation>
          <documentation xml:lang="es"> CSV asociado al env??o generado por AEAT. Solo se genera si no hay rechazo del envio</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DatosPresentacion" type="sii:DatosPresentacionType">
        <annotation>
          <documentation xml:lang="es"> Se devuelven datos de la presentacion realizada. Solo se genera si no hay rechazo del envio </documentation>
        </annotation>
      </element>
      <element name="Cabecera" type="sii:CabeceraSii">
        <annotation>
          <documentation xml:lang="es"> Se devuelve la cabecera que se inclu?? en el env??o. </documentation>
        </annotation>
      </element>
      <element name="EstadoEnvio" type="siiR:EstadoEnvioType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del env??o en conjunto. 
						Si los datos de cabecera y todos los registros son correctos,el estado es correcto. 
						En caso de estructura y cabecera correctos donde todos los registros son incorrectos, el estado es incorrecto
						En caso de estructura y cabecera correctos con al menos un registro incorrecto o aceptado con errores, el estado global es parcialmente correcto.						
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaLRFEmitidasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii para suministro de Facturas emitidas</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunAltaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaExpedidaType">
            <annotation>
              <documentation xml:lang="es"> 
						Estado detallado de cada l??nea del suministro.
					</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRFRecibidasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii para suministro de Facturas emitidas</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunAltaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaRecibidaType">
            <annotation>
              <documentation xml:lang="es"> 
						Estado detallado de cada l??nea del suministro.
					</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBajaFRecibidasPagosType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii para suministro de Facturas Recibidas</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaRecibidaPagoType">
            <annotation>
              <documentation xml:lang="es"> 
						Estado detallado de cada l??nea del suministro.
					</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBienesInversionType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii para suministro de Facturas emitidas</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunAltaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaBienType">
            <annotation>
              <documentation xml:lang="es"> 
						Estado detallado de cada l??nea del suministro.
					</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLROComunitariasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii para suministro de Facturas emitidas</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunAltaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaComunitariaType">
            <annotation>
              <documentation xml:lang="es"> 
						Estado detallado de cada l??nea del suministro.
					</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRIMetalicoType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunAltaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaMetalicoType">
            <annotation>
              <documentation xml:lang="es"> 
							Estado detallado de cada l??nea del suministro.
						</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLROperacionesSegurosType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunAltaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaOperacionesSegurosType">
            <annotation>
              <documentation xml:lang="es"> 
							Estado detallado de cada l??nea del suministro.
						</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaComunBajaType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii de baja</documentation>
    </annotation>
    <sequence>
      <element minOccurs="0" name="CSV" type="string">
        <annotation>
          <documentation xml:lang="es"> CSV asociado al env??o generado por AEAT. Solo se genera si no hay rechazo del envio</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DatosPresentacion" type="sii:DatosPresentacionType">
        <annotation>
          <documentation xml:lang="es"> Se devuelven datos de la presentacion realizada. Solo se genera si no hay rechazo del envio </documentation>
        </annotation>
      </element>
      <element name="Cabecera" type="sii:CabeceraSiiBaja">
        <annotation>
          <documentation xml:lang="es"> Se devuelve la cabecera que se inclu?? en el env??o. </documentation>
        </annotation>
      </element>
      <element name="EstadoEnvio" type="siiR:EstadoEnvioType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del env??o en conjunto. 
						Si los datos de cabecera y todos los registros son correctos,el estado es correcto. 
						En caso de estructura y cabecera correctos donde todos los registros son incorrectos, el estado es incorrecto
						En caso de estructura y cabecera correctos con al menos un registro incorrecto o aceptado con errores, el estado global es parcialmente correcto.										
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaLRBajaFEmitidasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaExpedidaType">
            <annotation>
              <documentation xml:lang="es"> 
								Estado detallado de cada l??nea del suministro.
							</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBajaFRecibidasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaRecibidaBajaType">
            <annotation>
              <documentation xml:lang="es"> 
									Estado detallado de cada l??nea del suministro.
								</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBajaBienesInversionType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaBienType">
            <annotation>
              <documentation xml:lang="es"> 
									Estado detallado de cada l??nea del suministro.
								</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBajaOComunitariasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaComunitariaType">
            <annotation>
              <documentation xml:lang="es"> 
									Estado detallado de cada l??nea del suministro.
								</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBajaIMetalicoType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaMetalicoType">
            <annotation>
              <documentation xml:lang="es"> 
									Estado detallado de cada l??nea del suministro.
								</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRBajaOperacionesSegurosType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaOperacionesSegurosType">
            <annotation>
              <documentation xml:lang="es"> 
									Estado detallado de cada l??nea del suministro.
								</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRCobrosEmitidasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaExpedidaType">
            <annotation>
              <documentation xml:lang="es"> 
								Estado detallado de cada l??nea del suministro.
							</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaLRPagosRecibidasType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii para suministro de Facturas Recibidas</documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="siiR:RespuestaComunBajaType">
        <sequence>
          <element minOccurs="0" maxOccurs="10000" name="RespuestaLinea" type="siiR:RespuestaRecibidaPagoType">
            <annotation>
              <documentation xml:lang="es"> 
						Estado detallado de cada l??nea del suministro.
					</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaExpedidaType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaExpedidaType">
        <annotation>
          <documentation xml:lang="es"> Factura Expedida </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, Incorrecto o Aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaRecibidaType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaRecibidaType">
        <annotation>
          <documentation xml:lang="es"> Factura Recibida </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaRecibidaBajaType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaRecibidaNombreBCType">
        <annotation>
          <documentation xml:lang="es"> Contraparte </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaRecibidaPagoType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaRecibidaNombreBCType">
        <annotation>
          <documentation xml:lang="es"> Contraparte </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaBienType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaComunitariaType">
        <annotation>
          <documentation xml:lang="es"> Contraparte </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaComunitariaType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sii:IDFacturaComunitariaType">
        <annotation>
          <documentation xml:lang="es"> Contraparte </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaMetalicoType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="Contraparte" type="sii:PersonaFisicaJuridicaType">
        <annotation>
          <documentation xml:lang="es"> 
						Permite identificar la factura l??nea del suministro a la que se refiere la respuesta.
					</documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaOperacionesSegurosType">
    <annotation>
      <documentation xml:lang="es"> Respuesta a un env??o Sii </documentation>
    </annotation>
    <sequence>
      <element name="Contraparte" type="sii:PersonaFisicaJuridicaType">
        <annotation>
          <documentation xml:lang="es"> 
						Permite identificar la factura l??nea del suministro a la que se refiere la respuesta.
					</documentation>
        </annotation>
      </element>
      <element name="ClaveOperacion" type="sii:ClaveOperacionType" />
      <element name="EstadoRegistro" type="siiR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="es"> 
						Estado del registro. Correcto, err??neo o aceptado con errores
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CodigoErrorRegistro" type="siiR:ErrorDetalleType">
        <annotation>
          <documentation xml:lang="es"> 
						C??digo del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="DescripcionErrorRegistro" type="sii:TextMax500Type">
        <annotation>
          <documentation xml:lang="es"> 
						Descripci??n detallada del error de registro, en su caso.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="EstadoEnvioType">
    <restriction base="string">
      <enumeration value="Correcto">
        <annotation>
          <documentation xml:lang="es">Correcto</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ParcialmenteCorrecto">
        <annotation>
          <documentation xml:lang="es">Parcialmente correcto. Ver detalle de errores</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Incorrecto">
        <annotation>
          <documentation xml:lang="es">Incorrecto</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EstadoRegistroType">
    <restriction base="string">
      <enumeration value="Correcto">
        <annotation>
          <documentation xml:lang="es">Correcto</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AceptadoConErrores">
        <annotation>
          <documentation xml:lang="es">Aceptado con Errores. Ver detalle del error</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Incorrecto">
        <annotation>
          <documentation xml:lang="es">Incorrecto</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ErrorEnvioType">
    <restriction base="string">
      <enumeration value="ERR01">
        <annotation>
          <documentation xml:lang="es">Error de validaci??n contra esquema</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ERR03">
        <annotation>
          <documentation xml:lang="es">Declarante desconocido</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ERR04">
        <annotation>
          <documentation xml:lang="es">El declarante debe identificarse mediante un NIF espa??ol.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ERR05">
        <annotation>
          <documentation xml:lang="es">El NIF del representante es incorrecto.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ErrorDetalleType">
    <restriction base="integer" />
  </simpleType>
</schema>